
body, html {
   height: 8%;
  }
  .bg {
    background-color: #0d0a0b;
    background-image: linear-gradient(315deg, #816b72 0%, #009fc2 74%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:auto;
    background-size:cover; 
	  background-position:center; 
   
  }
