
:root {
  --color-light: white;
  --color-dark: #212121;
  --color-signal: #fab700;
  
  --color-background: var(--color-light);
  --color-text: var(--color-dark);
  --color-accent: var(--color-signal);
  
  --size-bezel: .5rem;
  --size-radius: 4px;
  
  line-height: 1.4;
  
  font-family: 'Inter', sans-serif;
  font-size: calc(.6rem + .4vw);
  color: var(--color-text);
  background: var(--color-background);
  font-weight: 300;
  padding: 0 calc(var(--size-bezel) * 3);
}
.card-container{
  margin-left: 15px;
}
body {
  background-image: linear-gradient(315deg, #0d0a0b 0%, #009fc2 74%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.title{
  width:100%;
  text-align: center;
}
.title h1{
  font-size:50px;
  font-family: 'Exo', sans-serif;
}
.MongoDBcard {
  text-align:center;
  position: absolute;
  left: 20%;
  width: 250px;
  height: 350px;
  margin-top: 15%;
  background-color: #63d471;
  background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
  transition:.6s;
  transform: rotatex(25deg) translatey(-200px) translatez(-100px);
  box-shadow: 0px 20px 60px rgba(0,0,0, 0.5);
  margin-right: 15px;
  animation-name: ShowFromLeft;
  animation-duration: 1s;
}
.MongoDBcard:hover{
  transform: rotatex(0deg);
  transform: rotatez(0deg);
  transition: 1.5s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  height: 500px;
  width: 345px;
  border: white 4px solid;
  transition:ease-out 1s;
  margin-left: 16%;
  margin-top: 10%;
  cursor: pointer;
  transition-delay: 0.5s;
}
.MongoDBcard img{
  transform: translateY(15px);
  width:200px;
  height:120px;
  background-color: transparent;
}
h3{
  font-size:25px;
  font-family: 'Palatino', sans-serif;
  color:rgb(255,255,255);
  text-shadow: 0 0 2px rgb(255,255,255);
  transform: translatey(10px);
}
p{
  font-family: 'Palatino', sans-serif;
  color: white;
  transform: translatex(12px);
  text-align:center;
  width: auto;
}
.MongoDBcard:hover .icon{
  margin-top: 220px;
  transition-duration: 1s;
  transition-delay: 2s;
}

label{
  visibility: hidden;
}
input{
  visibility: hidden;
}
.MongoDBcard:hover label{
 visibility: visible;
 transition-delay: 2.5s;
 transition-duration: 0.5s;
 text-align: center;
 margin-left: 15px;
}
.MongoDBcard:hover input{
  visibility: visible;
  transition-delay: 2.5s;
  text-align:  center;
}

.MongoDBcard:hover p{
  visibility: hidden;
  transition-duration: 0.5s;
  transition-delay: 2s;
}
.MongoDBcard:hover img{
  top: 0%;
  transform: translateY(0%);
}
.MongoDBcard:hover h3{
  visibility: hidden;
  transition-duration: 0.5s;
  transition-delay: 2s;
}
.MongoDBcard:hover ~ .UdpCard {
  display: none;
  margin-top: 100%;
}
.MongoDBcard:hover ~ .card3{
  display: none;
  margin-top: 100%;
}
.UdpCard {
  text-align:center;
  position: absolute;
  left: 40%;
  width: 250px;
  height: 350px;
  margin-top: 15%;
  transition:.6s;
  transform: rotatex(25deg) translatey(-200px) translatez(-100px);
  box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.5);
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #958e69 74%);
  animation-name: FromTop;
  animation-duration: 1s;
}
.UdpCard:hover{
   transform: rotatex(0deg);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  transition: 1.5s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  height: 490px;
  width: 345px;
  border: white 4px solid;
  transition:ease-out 1s;
  cursor: pointer;
  margin-top: 10%;
  transition-delay: 0.5s;
}
.UdpCard:hover label{
  visibility: visible;
  transition-delay: 2.5s;
  transition-duration: 0.5s;
  text-align: center;
  margin-left: 15px;
 }
 .UdpCard:hover input{
   visibility: visible;
   transition-delay: 2.5s;
   text-align:  center;
 }
 .UdpCard:hover p{
   visibility: hidden;
   transition-duration: 0.5s;
   transition-delay: 2s;
 }
.UdpCard img{
  transform: translateY(15px);
  width:180px;
  height:150px;
}
.UdpCard h3{
  margin-top: -15px;
}

.MongoDBcard h3{
  margin-top: -15px;
}

.UdpCard:hover ~ .MongoDBcard ~ .card3 {
  display: none;
  margin-top: -100%;
}
.UdpCard:hover ~ .card3{
  display: none;
  margin-top: 100%;
}
.UdpCard:hover .icon{
  position: relative;
  margin-top: 120px;
  transition-duration: 1s;
  transition-delay: 2s;
}
.card3 {
  text-align:center;
  position: absolute;
  right: 24%;
  width: 250px;
  height: 350px;
  margin-top: 15%;
  background: linear-gradient(#ff5252, #b33939);
  transition:.6s;
  transform: rotatex(25deg) translatey(-200px) translatez(-100px);
  box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.5);
  animation: FromTop 1s forwards;
  
}
.card3:hover{
   transform: rotatex(0deg);
  transition:.6s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  transition-delay: 1s;

}
.card3 img{
  transform: translateY(15px);
  width:200px;
  height:120px;
}
.footer{
  position: absolute;
  top: 500px;
  margin: 10px;
  width: 100%;
   text-align: center;
}
.footer h2{
  font-size:18px;
  font-family: 'Exo', sans-serif;
  
}
.MongoDBcard .icon{
  margin-top: 35px;
}
.icon{
  background: transparent; 
  border: none;
  outline:none;
  cursor:pointer;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  color: white;
  font-size: 25px;
  transition: 1s;
  margin-bottom: 0px;
}
.text-center{
	color:#fff;	
	text-transform:uppercase;
    font-size: 23px;
    margin: -50px 0 80px 0;
    display: block;
    text-align: center;
}
.box{
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.89);
	border-radius:3px;
	padding:70px 100px;
}
.FormContainer{
  margin-top: -400px;
  transition-delay: 1.5s;
}
.input-container{
	position:relative;
  margin-bottom: 25px;
}
.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:#fff;	
	transition: all 0.5s ease-in-out;
}
.input-container input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#fff;
}
.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #e74c3c;	
 transition: 0.5s;
}

.input-container input:focus ~ label,
.input-container input:valid ~ label{
  animation-name: UpTheLable;
  animation-duration: 0.5s;
	font-size:12px;
  top: -15px;
}
@keyframes UpTheLable {
  from {top: 0px;}
  to {top: -15px;}
  from {font-size: 16px;}
  to {font-size: 12px;}
}
@keyframes ShowFromLeft {
  from {left: 0%;}
  to {left: 20%;}
}
@keyframes ShowFromRight {
  from {left: 100%;}
  to {left: 40%;}
}
@keyframes FromTop {
  from {margin-top: -15%;}
  to {margin-top: 15%;}
}

.MongoDBcard:hover article{
  visibility: visible;
  transition-delay: 2.5s;
}
.UdpCard:hover article{
  visibility: visible;
  transition-delay: 2.5s;
}
article {
  visibility: hidden;
  position: relative;
  width: 100px;
  height: 50px;
  margin: 5px;
  margin-bottom: 5px;
  float: left;
  border: 2px solid #50bcf2;
  box-sizing: border-box;
}

article div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 25px;
  transition: .5s ease;
}

article input {
  position: absolute;
  top: 0;
  width: 100px;
  height: 50px;
  opacity: 0;
  cursor: pointer;
}

input[type=checkbox]:checked ~ div {
  background-color: #50bcf2;
}
.blue-color {
  color: #50bcf2;
}

.gray-color {
  color: #555;
}

.second-row{
  margin-left: 15%;
}
.UdpCard:hover .form-containers{
  margin-top: -300px;
}
.UdpCard:hover h3{
  margin-bottom: 35px;
}
.check-box{
 margin-left: 10px;
 top: 35%;
}
.save-button {
  margin-top: 20px;
  background: #1DA1F2;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  transition: 0.5s;
  margin-left: 42%;
  margin-top: 35%;
  animation-name: FromRightAnimation;
  animation-duration: 1s;
}
.save-button:hover {
  opacity: 0.6;
  border: white 2px solid;
  transform: translateY(-2px);
}
.MongoDBcard:hover ~ .save-button{
  display: none;
}
.UdpCard:hover ~ .save-button{
  display: none;
}
@keyframes FromRightAnimation {
  from {margin-left: 80%;}
  to {margin-left: 42%;}
}
