<ng-template [ngIf]="this.service.showcards"> 
<html>
<body>
<div class="card-container">
<div class="MongoDBcard">
  <img src="assets\MongoDBPic.png" width="20px" height="10px" alt="MongoImage">
  <h3>MongoDB Consumer</h3>
  <p>The MongoDB Consumer is a DataBase,<br> hover the card to edit properties and create MongoDB client.<br> Save your decoded Frames into DataBase!</p>
  <button  (click) = "startMongoClient()" class="icon">
    <mat-icon  [inline]="true">add_circle</mat-icon></button>
    <div class="FormContainer">
      <div class="input-container">
        <input type="number" [(ngModel)]= "MongoclientProps.port" required="" (change) = "portNumberChange($event)" />
        <label>Port Number: </label>		
      </div>
      <div class="input-container">		
        <input type="text" [(ngModel)]= "MongoclientProps.Ip" required="" (change) = "IPAdressChange($event)"/>
        <label>Ip Address: </label>
      </div>
      <div class="input-container">
        <input type="text" [(ngModel)]= "MongoclientProps.DataBaseName" required="" (change) = "DataBaseNameChange($event)"/>
        <label>DataBase Name: </label>		
      </div>
      <div class="input-container">		
        <input type="text" [(ngModel)]= "MongoclientProps.CollectionName" required="" (change) = "CollectionNameChange($event)"/>
        <label>Collection Name: </label>
      </div>
      <div class="input-container">		
        <label>Communication Type Data: </label>
      </div>
      <br>
      <div class="check-box">
        <article class="feature1">
          <input type="checkbox" id="feature1" value="0" (change)="MongoCommunicationTypeCheckBox($event)"/>
          <div>
            <span>
              FlightBoxUp
            </span>
          </div>
        </article>
        <article class="feature2">
          <input type="checkbox" id="feature2" value="1" (change)="MongoCommunicationTypeCheckBox($event)"/>
          <div>
            <span>
              FlightBoxDown
            </span>
          </div>
        </article>
        <article class="feature3">
          <input type="checkbox" id="feature3" value="2" (change)="MongoCommunicationTypeCheckBox($event)"/>
          <div>
            <span>
              FiberBoxUp
            </span>
          </div>
        </article>
        <div class="second-row">
          <article class="feature4">
            <input type="checkbox" id="feature4" value="3" (change)="MongoCommunicationTypeCheckBox($event)"/>
            <div>
              <span>
                FiberBoxDown
              </span>
            </div>
          </article>
          <article class="feature5">
            <input type="checkbox" id="feature5" value="4" (change)="MongoCommunicationTypeCheckBox($event)"/>
            <div>
              <span>
                LandingBox
              </span>
            </div>
          </article>
        </div>
        </div> 
  </div>
</div>
<div class="UdpCard">
  <img src="assets\udpPicture.png" width="10px" height="5px" alt="UDPImage">
  <h3>Udp Consumer</h3>
  <p>Udp is a communication type,<br> you can open multiple<br> UDP clients and to<br> send the decoded Frames to the<br> clients, hover the card to edit<br> properties and the UDP clients  .</p>
  <button (click) = "startUdpClient()" class="icon">
    <mat-icon  [inline]="true">add_circle</mat-icon></button>
  <div class="form-containers">
  <div class="input-container">
    <input type="number" [(ngModel)]= "UdpClien.port" required="" (change) = "UdpPortNumberChange($event)" />
    <label>Port Number: </label>		
  </div>
  <div class="input-container">		
    <input type="text" [(ngModel)]= "UdpClien.Ip" required="" (change) = "UdpIPAdressChange($event)"/>
    <label>Ip Address: </label>
  </div>
  <div class="input-container">		
    <label>Communication Type Data: </label>
    <br>
    <article class="feature1">
      <input type="checkbox" id="feature1" value="0" (change)="UdpCommunicationTypeCheckBox($event)"/>
      <div>
        <span>
          FlightBoxUp
        </span>
      </div>
    </article>
    <article class="feature2">
      <input type="checkbox" id="feature2" value="1" (change)="UdpCommunicationTypeCheckBox($event)" />
      <div>
        <span>
          FlightBoxDown
        </span>
      </div>
    </article>
    <article class="feature3">
      <input type="checkbox" id="feature3" value="2" (change)="UdpCommunicationTypeCheckBox($event)"/>
      <div>
        <span>
          FiberBoxUp
        </span>
      </div>
    </article>
    <div class="second-row">
      <article class="feature4">
        <input type="checkbox" id="feature4" value="3" (change)="UdpCommunicationTypeCheckBox($event)"/>
        <div>
          <span>
            FiberBoxDown
          </span>
        </div>
      </article>
      <article class="feature5">
        <input type="checkbox" id="feature5" value="4" (change)="UdpCommunicationTypeCheckBox($event)"/>
        <div>
          <span>
            LandingBox
          </span>
        </div>
      </article>
    </div>
  </div>
</div>
</div>
<div class="card3">
  <img src="assets\HTTP_logo.png" width="10px" height="10x" alt="HTTP_logo">
  <h3>Http Client</h3>
  <p>create properties to http client! <br> send your decoded Frames to the<br> http cients!<br>Click the + button to edit properties<br> and create some clients.</p>
</div>
<button class="save-button" (click) = "clientPropertiesBtnClick()">
    check clients properties!
</button>
<div class="footer">
</div>
</div>
</body>
</html>
</ng-template>
<ng-template [ngIf]="!this.service.showcards">
  <app-consumers-table> </app-consumers-table>
</ng-template>
<router-outlet></router-outlet>
