*{
    margin-top: 0px;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-color: #0d0a0b;
    background-image: linear-gradient(315deg, #816b72 0%, #009fc2 74%);
    background-position: center;
    background-repeat: no-repeat;
    font-family: sans-serif;
    color: rgb(220,220,220);
    padding: 150px;
    overflow-x: hidden;
    transition: all 1s;
    margin-top: 0%;
    animation-name: FromTopAnimation;
    animation-duration: 2s;
  }
  h1{
    font-weight: 400;
  }
  a{
    color: inherit;
  }
  p{
    margin-top: .7em;
  }
  .warning{
    color: rgb(62,148,236);
  }
  .st_viewport{
    max-height: 300px;
    overflow: auto;
  }
  
  [data-table_id="1"]{
    background-color: rgb(255,115,0);
  }
  [data-table_id="2"]{
    background-color: rgb(61,53,39);
    color: rgb(220,220,220);
  }
  [data-table_id="3"]{
    background-color: rgba(168,189,4, .8);
  }
  
  ._rank{
    min-width: 80px;
  }
  ._id{
    min-width: 60px;
  }
  ._name{
    min-width: 150px;
  }
  ._year{
    min-width: 80px;
  }
  ._section{
    min-width: 150px;
  }

  
  /** Sticky table styles **/
  .st_viewport{
    background-color: rgb(62,148,236);
    color: rgb(27,30,36);
    margin: 25px 0;
  }
  /* ###  Table wrap */
  .st_wrap_table{
    text-align: center;
  }
  /* ##   header */
  .st_table_header{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: rgb(27,30,36);
    color: rgb(220,220,220);
  }
  .st_table_header h2{
    font-weight: 400;
    margin: 0 20px;
    padding: 20px 0 0;
  }
  .st_table_header .st_row{
    color: rgba(220,220,220, .7);
  }
 
  /* ##  table */
  .st_table{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /* #   row */
  .st_row{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0px;
  }
  .st_table .st_row:nth-child(even){
    background-color: rgba(0,0,0, .1);
  }
  .st_table_header .st_row{
   margin-left: 22px;
 }
  /* #   column */
  .st_column{
    padding: 25px 15px;
  }
  @keyframes FromTopAnimation {
    from {margin-top: 15%;}
    to {margin-top: 0%;}
  }
  .go-back{
    margin-left: 45%;
    background: #1DA1F2;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    transition: 0.5s;
    animation-name: FromRight;
    animation-duration: 1s;
  }
  @keyframes FromRight {
    from {margin-left: 80%;}
    to {margin-left: 45%;}
  }
  .icon{
    background: transparent;
    font-size: 20px;
    border: none;
    outline:none;
    cursor:pointer;
    margin-left: 5px;
  }