<body>
<main class="st_viewport">
  <div class="st_wrap_table" data-table_id="0">
    <header class="st_table_header">
      <h2>MongoDB client properties</h2>
      <ng-template [ngIf]="MongoClients.length > 0"> 
      <div class="st_row">
        <div class="st_column _rank">Port</div>
        <div class="st_column _name">Ip</div>
        <div class="st_column _surname">DataBase Name</div>
        <div class="st_column _year">Collection Name</div>
        <div class="st_column _section">Communication listener Types: </div>
      </div>
      </ng-template>
      <ng-template [ngIf]="MongoClients.length == 0"> 
        <p>You didn't create MongoDB client yet!</p>
      </ng-template>
    </header>

    <ng-template ngFor let-item [ngForOf]="MongoClients" let-i="index" >
    <div class="st_table">
      <div class="st_row">
        <button class="icon" (click) = cancelMongoConsumer(MongoClients[i])>
          <mat-icon  [inline]="true">remove_circle</mat-icon></button>
        <div class="st_column _rank">{{MongoClients[i].port}}</div>
        <div class="st_column _name">{{MongoClients[i].Ip}}</div>
        <div class="st_column _surname">{{MongoClients[i].DataBaseName}}</div>
        <div class="st_column _year">{{MongoClients[i].CollectionName}}</div>
        <div class="st_column _section">{{MongoClients[i].CommunicationType}}</div>
      </div>
    </div>
  </ng-template>

  </div>
  <div class="st_wrap_table" data-table_id="1">
    <header class="st_table_header">
      <h2>UDP clients properties</h2>
      <ng-template [ngIf]="UdpClients.length > 0"> 
      <div class="st_row">
        <div class="st_column _rank">Port</div>
        <div class="st_column _name">IP</div>
        <div class="st_column _surname">Communications Type</div>
      </div>
    </ng-template>
    <ng-template [ngIf]="UdpClients.length == 0"> 
      <p>You didn't create Udp clients yet!</p>
    </ng-template>
    </header>

  <ng-template ngFor let-item [ngForOf]="UdpClients" let-i="index" >
    <div class="st_table">
      <div class="st_row">
        <button class="icon" (click) = "cancelUdpConsumer(UdpClients[i])">
          <mat-icon  [inline]="true">remove_circle</mat-icon></button>
        <div class="st_column _rank">{{UdpClients[i].port}}</div>
        <div class="st_column _name">{{UdpClients[i].Ip}}</div>
        <div class="st_column _surname">{{UdpClients[i].CommunicationTypeAfterConvert}}</div>
      </div>
      </div>
    </ng-template>
  </div>
  
  <div class="st_wrap_table" data-table_id="2">
    <header class="st_table_header">
      <h2>Https Clients properties</h2>
      <div class="st_row">
        <div class="st_column _rank">Port</div>
        <div class="st_column _name">IP</div>
        <div class="st_column _surname">Communications Type</div>
      </div>
    </header>
    <div class="st_table">
      <div class="st_row">
        <div class="st_row">
          <button class="icon">
            <mat-icon  [inline]="true">remove_circle</mat-icon></button>
            <div class="st_column _rank">11000</div>
            <div class="st_column _name">127.0.0.1</div>
            <div class="st_column _surname">FiberBoxDown, FiberBoxUp</div>
          </div>
      </div>
    </div>
  </div>    
</main>
<button class="go-back" (click) = "showcards()">
  Back
</button>
<footer>
</footer>
</body>