html{
    background-color: #fffffc;
     min-height: 100%;
     margin-top: -8px;
}
.container{
    width: 100%;
    height: 450px;
    border: black 2px solid;
    background-color: #333;
}
.container h1{
    margin-top: 6%;
    color: white;
    text-align: center;
    font-size: 30px;
    animation-name: ShowFromTop;
    animation-duration: 1s;
}
.data-container{
    margin-top: 3%;
    margin-left: 32%;
    color: white;
    font-size: 18px
}
.data-container li{
    color: white;
    padding: 10px;
}
.step-container{
    background-color: #1c1d1d9d;
    width: 100%;
    height: 350px;
    border-bottom: black 2px solid;
   animation-name: ShowFromleft;
   animation-duration: 1.5s;
}
.step-container h1{
    color: black;
    padding-left: 5%;
    padding-top: 30px;
    margin-left: 10px;
    size: 30px;
}
.step-container ol{
    padding-left: 9%;
    margin-top: 20px;
    color: black
}
.step-container li{
    margin-top: 15px;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
}
button{
    margin-left: 45%;
    color: black;
    background-color: transparent;
    border: none;
    font-size: 40px;
    cursor: pointer;
}
li mat-icon{
    padding-right: 2px;
}
li mat-icon:hover{
    opacity: 0.6;
}
.Additional-data-container{
   margin-top: 30px;
}
.Additional-data{
    float: left;
    width: 400px;
    height: 200px;
    margin-left: 5%;
    background-color: white;
}
.Additional-data h1{
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.Additional-data ol{
    margin-left: 5px;
}
@keyframes ShowFromTop{
    from {margin-top: 0px;}
    to {margin-left: 6px;}
}
@keyframes ShowFromleft{
    from {width: 0%;}
    to {width:100%;}
}