
.container {
  margin-left: 50%;
  margin-top: -42%;
  width: 350px;
  height: 520px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #d3d3d3 74%);
}
.container:hover{
  border: black solid 2px;
  box-shadow: 14px 14px 20px #cbced1, -5px -5px 20px white;
}
.brand-logo {
  height: 100px;
  width: 100px;
  background-image: url('Bamza_108.png');
  background-size: 100px ;
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}
.close-logo {
  float: right;
  height: 35px;
  width: 35px;
  box-sizing: border-box;
  cursor: pointer;
  background-color: transparent;
}
.close-logo button {
  border: black 1px solid;
  border-radius: 150px;
  cursor: pointer;
}
.close-logo button:hover {
  border: black 1px solid;
  background-color: red;
 color: black;
 opacity: 0.6;
}

.brand-title {
  text-align: center;
  margin-top: 15px;
  font-weight: 700;
  font-size: 1.5rem;
  background-color: #000000;
  background: -webkit-linear-gradient(#000000 0%, #04619f 74%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
}

.inputs {
  text-align: left;
  margin-top: 30px;
}

label, input, button {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

label {
  text-align: center;
  margin-bottom: 4px;
}

label:nth-of-type(2) {
  margin-top: 12px;
}

input::placeholder {
  color: gray;
}

input {
  margin-left: 50px;
  background: #ecf0f3;
  text-align: center;
  padding: 10px;
  height: 50px;
  width: 150px;
  font-size: 14px;
  border-radius: 80px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.save-button {
  margin-top: 20px;
  background: #1DA1F2;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  transition: 0.5s;
}
.close-button {
  color: red;
  float: right;
  cursor: pointer;
  background-color: black;
  border-radius: 250px;
}
.save-button:hover {
  opacity: 0.6;
  border: white 2px solid;
  transform: translateY(-2px);
}
input[type="radio"] {
  display: none;
}
.radio-label {
  margin-left: 50px;
  width: 60px;
  height: 60px;
  float: left;
  background: white;
  border-radius: 100px;
  text-align: center;
  box-shadow: 0px 3px 10px -2px hsla(150, 5%, 65%, 0.5);
}
input[type="radio"]:checked + label {
  background: hsla(150, 75%, 50%, 1);
  color: hsla(215, 0%, 100%, 1);
  box-shadow: 0px 0px 20px hsla(150, 100%, 50%, 0.75);
}
input[type="radio"] + label:hover {
 cursor: pointer;
 opacity: 0.8;
 color: hsla(150, 100%, 50%, 0.75);
 transform: translateY(-2px);
}