.card-container {
    display: flex;
    flex-wrap: wrap;
    color: white;
    height: 100%;
  }
  .card {
    border-radius: 4px;
    background-color: #ffeaa7;
    background-image: linear-gradient(315deg, #ffeaa7 0%, #000000 74%);    
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    margin-bottom: 10px;
    border: black solid 2px;
    width: 380px;
    height: 90px;
    max-width: 400px;
    animation-name: ShowFromRight;
    animation-duration: 1s;
  }
  .card:hover{
    letter-spacing: 2px;
    transform: translateY(-3px);
    border: white solid 3px;
    cursor: pointer;
    transition: all 0.5s ease 0s; 
  }

.icon-container{
  margin-left: 85px;
}  
.mat-icon{
    font-size: 20px;
}
.mat-icon:hover{
  font-size: 30px;
}
.icon{
  margin-left: 3px;
  float: right;  
  position: relative;
  background: black; 
  border: none;
  outline:none;
  cursor:pointer;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
.icon:hover{
  transform: translateY(-3px);
}
.decoding-icon{
  width: 10px;
	height: 10px;
	font-size: 0;
  margin-right: 18px;
	background-color: red;
	border: 0;
	border-radius: 35px;
	outline: none;
  animation-name: pulse;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes pulse{
	0%{
		box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3);
	}
	65%{
		box-shadow: 0px 0px 5px 15px rgba(173,0,0,.3);
	}
	90%{
		box-shadow: 0px 0px 5px 15px rgba(173,0,0,0);
	}
}
@keyframes ShowFromRight {
  from {margin-bottom: 0px;}
  to {margin-bottom:10px}
}