
.topnav {
  background-color: #333 ;
  overflow: hidden;
}
.topnav img{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav mat-icon, button{
  float: left;
  margin-top: 7px;
  margin-left: 5px;
  color: white;
}
.topnav button :hover{
  opacity: 0.8;
  border-bottom: black 1px solid;
  transform: translateY(-2px);
}
.topnav a {
 margin-top: 6px;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  opacity: 0.6;
  border-bottom: black solid 2px;
 }
.topnav p {
  margin-top: 8px;
   float: right;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
 }
#hour{
  margin-top: 8px;
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
