<div class="container" >
  <div class="topnav">
    <button (click) = "NavToHomePage()"  routerLink= "/"  mat-icon-button color="basic">
      <mat-icon>home</mat-icon>
    </button>
    <img src="assets\Bamza_108.png" width="40px" height="40px" style="float: right;" alt="108Image">
    <a  class="active"  routerLink="/DecodedFrameProducer">Decoded Frame Creator</a>
    <a  class="active" routerLink="/ClientConsumersSelect">Edit and Create Consumers</a>
    <p id="hour"> </p>
    <p> {{todayDate}}</p>
  </div>
</div>
